{
	"singleQuote": true,
	"bracketSpacing": true,
	"useTabs": true,
	"tabWidth": 2,
	"overrides": [
		{
			"files": ["*.md", "*.yml"],
			"options": {
				"useTabs": false,
				"tabWidth": 2
			}
		}
	]
}
